body {

	background-image: url("silver-metal-texture-vector.jpg");
}

#igra {
   background-image: url('fon.jpg');
   width: 600px;
   height: 400px;
   margin: 0 auto;
   position: relative;
   border: 8px outset #778899;
   overflow: hidden;
}

#ball {
	background: #FF6347;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -100px;
	left: -100px;
	display: block;
	transition: all 1s;
	background: radial-gradient(circle at 100px 100px, #FF1493, #000);
}


.left {
	top: 500px;
	left:-100px;

}

.right {
	top: 500px;
	left:700px;
}

#stars {
	font-size: 34px;
	color: #7FFF00;
	font-weight: bold;
	position: absolute;
	top:23px;
	left: 10px;
}

#lifes {
	position: absolute;
	top: 34px;
    right: 44px;
}

#lifes span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #00FF7F;
    background: #008080;
    display: block;
    float: left;

}

#start-block {
	width: 100%;
	height: 100%;
	background-image: url('game.jpg');
	position: absolute;
	top: 0;
    left: 0;
    display: block;
}	

#start-block button {
	margin: 256px auto;
    display: block;
    padding: 18px 13px;
    font-size: 60px;
    background: #FF6347;
    border-radius: 50%;
    transform: scale(1);
    transition: 1s all;

}

#start-block button:hover {
    transform: scale(1.1);
    background: #FF4500;
}

#konec-igra{
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0px;
	left: 0px;
    background-image: url('gameover.jpg');
	color: white;
	text-align: center;
	font-size: 40px;
}

h2, h3 {
	font-size: 40px;
	font-family: Arial;
	text-shadow: 10px 10px 15px black;
    color: #FFF8DC;
	text-align: center;
}

